*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

__pycache__

/scripts/sources
/libwoff2dec/src/main/cpp/thirdparty
/scripts/build_ndk.properties